<footer class="site-footer">

    <p class="social">
        <a class="instagram"
           target="_blank"
           rel="noopener"
           href="https://www.instagram.com/giulemanidalporticciolo"></a>

        <a class="facebook"
           target="_blank"
           rel="noopener"
           href="https://www.facebook.com/giulemanidalporticciolo"></a>

        <a class="youtube"
           target="_blank"
           rel="noopener"
           href="https://www.youtube.com/@giulemanidalporticciolodip1163"></a>
    </p>

    <p class="committee-name">
        GIÙ LE MANI DAL PORTICCIOLO
    </p>

</footer>
